@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 12px;
}
.text-neon-blue {
  color: #81b1e5; /* Bright blue color similar to the provided image */
}
body::-webkit-scrollbar-track {
  background: #0f0728; /* Dark background for the track */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0d15ad, #8a2be2); /* Purplish gradient for the thumb */
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #8a2be2, #6a0dad); /* Hover effect for the thumb */
}
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#1a1a2e];
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}